html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #666666;
  color: #ffffff;
  font-size: 22px;
  padding-top: 90px;
}

.page-wrapper {

}

.page-nav {
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.page-nav ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: auto;
}

.page-nav a {
  text-decoration: none;
  color: #ffffff;
}

.page-nav ul li {
  flex: 1;
  padding: 10px;
}

.page-nav ul li:first-child {
  flex-grow: 2;
}

.page-nav ul li:first-child a {
  color: #ff0000;
}

.hamburger {
  background-color: #333333;
  padding: 5px;
  border-radius: 4px;
  font-size: 30px;
  display: none;
}

.content {

}



















/*    */
